
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{

  /* Materials */
  --color-wallpaper-1:        #3e1eb3ff;
  --color-wallpaper-2:        #370a7bff;
  --color-text:               #b0c4deff;
  --color-text-red:           #911818ff;
  --color-slate:              #262626ff;
  --color-slate-cut:          #4b5158ff;
  --color-slate-shadow:       #00000080;
  --color-slate-strong:       #4b4b4bff;
  --color-slate-weak:         #343434ff;
  --color-slate-neon:         #440a7bff;
  --color-slate-neon-shadow:  #440a7b80;
  --color-glass:              #ffffff08;
  --color-glass-neon:         #440a7bcc;
  --color-glass-neon-weak:    #570d9c80;
  --color-glass-neon-faint:   #8313ec1a;
  --color-banner-green:       #3c8820ff;
  --color-banner-orange:      #ba7f12ff;
  --color-banner-red:         #882020ff;

  /* Variables */
  --border-slate-strong: 0.1rem solid var(--color-slate-strong);
  --border-slate-weak: 0.1rem solid var(--color-slate-weak);
  --border-slate-cut: 1px solid var(--color-slate-cut);
  --border-slate-neon: 0.13rem solid var(--color-slate-neon);
  --border-glass-neon: 0.1rem solid var(--color-glass-neon);
  --slate-shadow: 0 0.5rem 1rem var(--color-slate-shadow);
  --slate-neon-shadow: 0 0.5rem 0.8rem var(--color-slate-neon-shadow);
  --slate-radius: 0.25rem;
}

/* Text formatting */
.input-required:after
{
  content: "*";
  color: var(--color-text-red);
}

/* Animation */
@keyframes collapse-up
{
  to { height: 0; margin: 0; padding: 0; overflow: hidden; }
}
.collapse-up
{
  animation: collapse-up 1s ease-in-out 3s forwards;
  animation-fill-mode: forwards;
}

/* Banners */
.green
{
  background: var(--color-banner-green);
}
.orange
{
  background: var(--color-banner-orange);
}
.red
{
  background: var(--color-banner-red);
}
.banner
{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Glass Button */
.button-glass
{
  --material-background: linear-gradient(to right,
    var(--color-glass-neon-weak), var(--color-glass-neon-faint),
    var(--color-glass), var(--color-glass));

  min-width: 10rem;
  height: 2rem;
  padding: 0.5rem;
  text-decoration: none;
  white-space: nowrap;
  background: var(--material-background);
  background-size: 400%;
  background-position: right;
  border: var(--border-slate-strong);
  border-top: var(--border-slate-weak);
  border-left: var(--border-slate-weak);
  border-radius: var(--slate-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.1s background-position ease-in-out;
}
.button-glass *
{
  pointer-events: none;
}
.button-glass:hover
{
  cursor: pointer;
  background-position: left;
  border: var(--border-glass-neon);
}

body
{
  --material-background: linear-gradient(to top right,
    var(--color-wallpaper-1), var(--color-wallpaper-2));

  min-height: 100vh;
  padding: 2rem;
  background: var(--material-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body *
{
  color: var(--color-text);
  font-family: sans-serif;
}

header
{
  width: 80%;
  height: 3rem;
  margin-bottom: -1.5rem;
  background: var(--color-slate);
  box-shadow: var(--slate-neon-shadow);
  border: var(--border-slate-weak);
  border-left: var(--border-slate-strong);
  border-top: var(--border-slate-strong);
  border-bottom: var(--border-slate-neon);
  border-radius: var(--slate-radius);
  border-spacing: 0.5rem 0.5rem;
  overflow: hidden;
  z-index: 0;
}
.nav-left
{
  float: left;
}
.nav-right
{
  float: right;
}
.navbtn
{
  height: 2rem;
  margin: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}

footer
{
  min-height: 1rem;
  margin-top: 0.5rem;
  margin-bottom: calc(-1.5rem - 1px);
  font-size: smaller;
  text-align: center;
}

/* Main Content */
main
{
  --min-height: calc((100vh - 4rem) - (1.5rem));

  width: 90%;
  min-height: var(--min-height);
  padding: 2rem;
  padding-top: 3rem;
  background: var(--color-slate);
  box-shadow: var(--slate-shadow);
  border: var(--border-slate-weak);
  border-left: var(--border-slate-strong);
  border-top: var(--border-slate-strong);
  border-radius: var(--slate-radius);
}
main hr
{
  margin-top: 1em;
  margin-bottom: 1em;
  border: var(--border-slate-cut);
}
.contents
{
  padding-top: 1rem;
  /* fill remaining horizontal space right of the dashboard */
  float: none;
  overflow: hidden;
}

/* Dashboard */
.dashboard
{
  width: 20rem;
  height: 30rem;
  margin-right: 2rem;
  margin-bottom: calc(2rem - 0.1em);
  padding: 1rem;
  background: var(--color-slate);
  box-shadow: var(--slate-shadow);
  border: var(--border-slate-weak);
  border-left: var(--border-slate-strong);
  border-top: var(--border-slate-strong);
  border-radius: var(--slate-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.dashboard-items
{
  width: 80%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}
.dashboard-items .button-glass
{
  height: 2.5rem;
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: small;
  font-weight: bold;
  justify-content: flex-start;
}
.dashboard-items .button-glass *
{
  margin: 0.5rem;
}
.dashboard-items .button-glass img
{
  height: 100%;
}

/* Mugshot */
.mugshot
{
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mugshot img
{
  width: 4rem;
  height: 4rem;
  margin: 0.25rem;
  border: var(--border-slate-strong);
  border-radius: 50%;
}

/* Contact Form */
.contact-form
{
  margin: 1rem;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
}
.contact-form-field
{
  width: 30rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.contact-form-label
{
  padding-bottom: 0.25rem;
  padding-left: 2px;
}
.contact-form-input
{
  height: 1.5rem;
}
.contact-form-message
{
  height: 15rem;
  resize: none;
}
.contact-form-input,.contact-form-message
{
  border: none;
  padding: 0.5rem;
  background: var(--color-glass);
  border: var(--border-slate-strong);
  border-top: var(--border-slate-weak);
  border-left: var(--border-slate-weak);
  border-radius: var(--slate-radius);
  outline: none;
}
.contact-form-input:focus,.contact-form-message:focus
{
  border: var(--border-glass-neon);
  border-width: 2px;
}
